body {
  font-family: 'Open Sans', sans-serif;
  background: #ffffff
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  text-align: center;
  image-orientation: center;
	color: #535252;
  background-image: url('fondo.jpg');
}
*{
 margin: 0;
 padding: 0;
box-sizing: border-box;
}
p {
  background-color: white; /* Fondo blanco */
  padding: 10px; /* Tamaño del fondo alrededor del texto */
  border-radius: 15px;
}
h2 {
      text align: center;
    }
#header {
  position: relative;
  left: 0;
  top: 0;
  margin: 0px auto;
  width: 100%;
  height: 200px;
}
#header-logo {
  position: absolute;
  left: auto;
  margin: 0px auto;
  margin: 0 auto;
  top: 45px;
  max-width: 150px;
  transform: translate(-50%);
  z-index: 22222;
}
#header-logo-shiatsu {
  position: absolute;
  left: auto;
  margin: 0px auto;
  margin: 0 auto;
  top: 45px;
  max-width: 100px;
  transform: translate(-50%);
  z-index: 22222;
}
#menu {
  font-size: 14px;
  position:absolute;
  top: 10px;
  left: auto;
  right: auto;
  background-color: white;
  text-transform: uppercase;
  list-style-type: none;
  float: left;
  width: 100%;
}
#menu li {
  display: inline-block;
}
#menu li a {

  color: #444343;
  text-decoration: none;
  margin: 0 7px;
}
#menu a:hover {
      font-size: 13px;
      color: #d3af34;
    }

    #contenido {
      padding: 100px 20px;
    }
#subtitle {
  text-align: center;
  position: relative;
  top: 140px;
	margin: 0px auto;
  width: 35%;
	min-width:350px;
  color: #444343;
  background-color: white;
	border-radius: 9px;
  font-size: 14px;
  font-weight: lighter;
  text-transform: uppercase;
  z-index: 44444;
}
#body {
  margin: 0;
  }
#main {
  position: relative;
  margin: 0 auto;
  left: 0;
  top: 0;
  float: none;
	width:100%;
  height: 100px;
}
#text-center {
  position: relative;
  text-align: justify;
        hyphens: auto; /* activa la separació amb guions */
        -webkit-hyphens: auto;
        -moz-hyphens: auto;
        width: 400px; /* per veure l'efecte */
  text-justify: inter-word;
	margin: 0px auto;
  width: 35%;
  min-width: 350px;
  bottom: 1000px
  color: #535252;
  background-color: white;
	border-radius: 9px;
  font-size: 14px;
  font-weight: lighter;
  text-transform: none;
  z-index: 44444;
  }
  #text-center1 {
    position: relative;
    text-align: center;
  	margin: 0px auto;
    width: 22%;
    min-width: 100px;
    bottom: 1000px
    color: black;
    background-color: white;
  	border-radius: 9px;
    font-size: 12px;
    font-weight: lighter;
    text-transform: none;
    z-index: 44444;
    }
#text-center_preus {
  position: relative;
  text-align: left;
	margin: 0px auto;
  width: 35%;
  min-width: 350px;
  bottom: 1000px
  color: black;
  background-color: white;
	border-radius: 9px;
  font-size: 12px;
  font-weight: lighter;
  text-transform: uppercase;
  z-index: 44444;
  }
#tel-main {
  position: relative;
  text-align: center;
	margin: 0px auto;
  width: 35%;
  min-width: 350px;
  bottom: 500px
  color: black;
  background-color: white;
	border-radius: 9px;
  font-size: 12px;
  font-weight: lighter;
  text-transform:  none;
  z-index: 44444;
}
#gira {
  position: relative;
  text-align: center;
	margin: 0px auto;
  width: 22%;
  min-width: 350px;
  color: black;
  background-color: white;
	border-radius: 9px;
  font-size: 11px;
  font-weight: lighter;
  text-transform: uppercase;
  z-index: 44444;
}

#contact {
  position: relative;
  display: inline-block;
  margin: 0px auto;
  background-color: transparent;
	border-radius: 20px;
  max-width: 350px;
}
section {
  display: flex;
  justify-content: center;
  }

.doble {
  position: relative;
  text-align: center;
  width: 150px;
  font-size: 12px;
  text-transform: uppercase;
  }

.dobleioga {
  position: relative;
  opacity: 0.4;
  text-align: center;
  width: 150px;
  font-size: 12px;
  text-transform: uppercase;
    }
.opacity {
  opacity: 0.5;
  }
.video {
  background-color: fffff;
  position: absolute;
  margin: 0px 100px;
  top: 0;
  bottom: 1000px;
}
#footer {
  background: ;
  position: relative;
  margin: 0 auto;
  left: 0;
  top: 0;
  bottom: 0;
  height: 45px;
}
#footer-text {
text-align:center;
  position: absolute;
  background-color: black;
  color: white;
  width: 50%;
  left: 0;
  right: 0;
  margin: 0 auto;
  bottom: 30px;
  font-size: 12px;
  max-width: 340px;
  text-align: left;
  z-index: 99999;
	padding: 13px;
}
#email {
  text-decoration: none;
  text-align:center;
    position: absolute;
    color: white;
    width: 50%;
    left: 0;
    right: 0;
    margin: 0 auto;
    bottom: 30px;
    font-size: 12px;
    max-width: 340px;
    text-align: left;
    z-index: 99999;
  	padding: 13px;
  }
  #terapies {
    position: center;
    left: auto;
    margin: 0px auto;
    margin: 0 auto;
    top: 100px;
    max-width: 300px;
    z-index: 22222;
  }
  #terapies_terapies_backcel {
    position: center;
    left: auto;
    margin: 0px auto;
    margin: 0 auto;
    top: 100px;
    max-width: 150px;
    z-index: 22222;
  }
  #background_cel {
      position: relative;
      left: 0;
      right: 0;
      margin: 0 auto;
      z-index: 99999;
    }


   #contact-form {
            width: 100%;
            max-width: 400px;
            min-height: 400px;
            margin: 30px auto;
            padding: 2px;
            background-color: #fbcefb;
            border-radius: 10px;
            box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
          }

          #contact-form h1 {
            text-align: center;
            margin-bottom: 10px;
            color: #333;
          }

          #contact-form label {
            display: block;
            font-weight: bold;
            margin-bottom: 5px;
            color: #333;
          }

          #contact-form input[type="text"] {
          width: 100%;
          padding: 10px;
          margin-bottom: 15px;
          border: 1px solid #ccc;
          border-radius: 4px;
          font-size: 12px;
          box-sizing: border-box;
        }
          #contact-form textarea {
            width: 100%;
            padding: 10px;
            margin-bottom: 15px;
            border: 1px solid #ccc;
            border-radius: 4px;
            font-size: 12px;
            box-sizing: border-box;
          }
          #contact-form input[type="email1"] {
            width: 100%;
            padding: 10px;
            margin-bottom: 15px;
            border: 1px solid #ccc;
            border-radius: 4px;
            font-size: 12px;
            box-sizing: border-box;
          }


          #contact-form button {
            width: 100%;
            padding: 12px;
            background-color: #bd85bd;
            color: white;
            border: none;
            border-radius: 4px;
            font-size: 16px;
            cursor: pointer;
            transition: background-color 0.5s;
          }

          #contact-form button:hover {
            background-color: #45a049;
          }



a:hover {
	color: black;
  text-decoration: none;
}
a:link {
color: black;
  text-decoration: none;
}
.fullscreen-bg {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    overflow: hidden;
    z-index: -100;
}

.fullscreen-bg__video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
@media (min-aspect-ratio: 16/9) {
  .fullscreen-bg__video {
    width: 100%;
    height: auto;
  }
}

@media (max-aspect-ratio: 16/9) {
  .fullscreen-bg__video {
    width: auto;
    height: 100%;
  }
}
@media (max-width: 400px) {
  .fullscreen-bg {
    background: url('https://pepo.cat/img/.jpg') center center / cover no-repeat;
  }

  .fullscreen-bg__video {
    background: url('https://pepo.cat/video/.mp4') center center / cover no-repeat;
  }
   .video-background {
            position: fixed;
            right: 0;
            bottom: 0;
            min-width: 100%;
            min-height: 100%;
            z-index: -1;
            object-fit: cover;
        }

        .content {
            position: relative;
            z-index: 1;
            color: white;
            text-align: center;
            top: 50%;
            transform: translateY(-50%);
            font-family: 'Courier New', monospace;
            white-space: nowrap;
            overflow: hidden;
            border-right: .15em solid orange; /* Línia de cursor */
            width: 24ch; /* Nombre de caràcters visibles */
            animation: typing 4s steps(24) forwards, blink-caret 0.75s step-end infinite;
        }

        @keyframes typing {
            from { width: 0; }
            to { width: 24ch; }
        }

        @keyframes blink-caret {
            from, to { border-color: transparent; }
            50% { border-color: orange; }
        }
  

