body {
  font-family: 'Open Sans', sans-serif;
  background: #ffffff
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  text-align: center;
  image-orientation: center;
	color: black;
}
*{
 margin: 0;
 padding: 0;
}
#header {
  position: relative;
  left: 0;
  top: 0;
  margin: 0px auto;
  width: 100%;
  height: 200px;
}
#header-logo {
  position: absolute;
  left: auto;
  margin: 0px auto;
  margin: 0 auto;
  top: 45px;
  max-width: 150px;
  transform: translate(-50%);
  z-index: 22222;
}
#menu {
  position: absolute;
  top: 10px;
  left: auto;
  right: auto;
  list-style-type: none;
  width: 100%;
  z-index: 33333;
}
#menu li {
  display: inline-block;
}
#menu li a {
  color: black;
  text-decoration: none;
  margin: 0 10px;
}
#subtitle {
  text-align: center;
  position: relative;
  top: 140px;
  margin: 0px auto;
  width: 22%;
  min-width:250px;
  color: black;
  background-color: white;
  padding:3px;
  border-radius: 9px;
  font-size: 14.5px;
  font-weight: lighter;
  text-transform: uppercase;
  z-index: 44444;
}
#body {
  margin: 0;
  }
#main {
  position: relative;
  margin: 0 auto;
  left: 0;
  top: 0;
  float: none;
	width:100%;
  height: 800px;
}
#text-center {
  position: relative;
  text-align: center;
  margin: 0px auto;
  width: 22%;
  min-width: 250px;
  bottom: 1000px
  color: black;
  background-color: white;
  border-radius: 9px;
  padding:3px;
  font-size: 14.5px;
  font-weight: lighter;
  text-transform: uppercase;
  z-index: 44444;
  }
#tel-main {
  position: relative;
  text-align: center;
  margin: 0px auto;
  width: 22%;
  min-width: 250px;
  bottom: 500px
  color: black;
  background-color: white;
  padding:3px;	
  border-radius: 9px;
  font-size: 14.5px;
  font-weight: lighter;
  text-transform: uppercase;
  z-index: 44444;
}
.video {
  background-color: fffff;
  position: absolute;
  margin: 0px 100px;
  top: 0;
  bottom: 1000px;
}
#footer {
  background: ;
  position: relative;
  margin: 0 auto;
  left: 0;
  top: 0;
  bottom: 0;
  height: 45px;
}
#footer-text {
text-align:center;
  position: absolute;
  background-color: black;
  color: white;
  width: 50%;
  left: 0;
  right: 0;
  margin: 0 auto;
  bottom: 30px;
  font-size: 12px;
  max-width: 340px;
  text-align: left;
  z-index: 99999;
  padding: 3px;
}
#email {
  text-decoration: none;

}
a:hover {
	color: black;
  text-decoration: none;
}
a:link {
color: black;
  text-decoration: none;
}
.fullscreen-bg {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    overflow: hidden;
    z-index: -100;
}

.fullscreen-bg__video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
@media (min-aspect-ratio: 16/9) {
  .fullscreen-bg__video {
    width: 100%;
    height: auto;
  }
}

@media (max-aspect-ratio: 16/9) {
  .fullscreen-bg__video {
    width: auto;
    height: 100%;
  }
}
@media (max-width: 767px) {
  .fullscreen-bg {
    background: url('https://silenci.online/img/tai_txi.jpg') center center / cover no-repeat;
  }

  .fullscreen-bg__video {
    display: none;
  }
}
