body {
  font-family: 'Open Sans', sans-serif;
  background: #fcf5e2
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  text-align: center;
  image-orientation: center;
}
*{
 margin: 0;
 padding: 0;
}
/* caja imbisible padre*/
#header {
  background-color: ;
  position: relative;
  left: 0;
  top: 0;
  margin: 0px auto;
  width: 100%;
  height: 380px;
}
#header-bg {
  position: absolute;
  left: auto;
  max-width: 400px;
  width: 100%;
  top: 0;
  left: 50%;
  transform: translate(-50%);
  z-index: 11111;
}
#header-logo {
  position: absolute;
  left: auto;
  margin: 0px auto;
  margin: 0 auto;
  top: 35px;
  max-width: 230px;
  transform: translate(-50%);
  z-index: 22222;
}
#menu {
  position: absolute;
  top: 10px;
  left: auto;
  right: auto;
  list-style-type: none;
  width: 100%;
  z-index: 33333;
}
#menu li {
  display: inline-block;
}
#menu li a {
  color: black;
  text-decoration: none;
  margin: 0 10px;
}
#subtitle {
  position: absolute;
  top: 100px;
  left: auto;
  right: auto;
  width: 100%;
  color: black;
  font-size: 14.5px;
  font-weight: lighter;
  text-transform: uppercase;
  z-index: 44444;
}
#body {
  margin: 0;
  }
#main  {
  background-color: ;
  position: relative;
  margin: 0 auto;
  left: 0;
  top: 0;
  float: none;
	width:100%;
  height: calc(100vh - 170px - 40px)
}
#main-dragon {
  position: absolute;
  left: auto;
  margin: 0px auto;
  margin: 0 auto;
  bottom: 0px;
  width: 100%;
  max-width: 400px;
  transform: translate(-50%);
  z-index: 00000;

}
#footer {
  background: ;
  position: relative;
  margin: 0 auto;
  left: 0;
  top: 0;
  bottom: 0;
  height: 45px;
}
#footer-fix {
  position: absolute;
  bottom: 0px;
  width: 100%;
  max-width: 400px;
  transform: translate(-50%);
  z-index: 88888;
}
#footer-contact {
  position: absolute;
  width: 100%;
  left: 0;
  right: 0;
  margin: 0 auto;
  max-width: 400px;
  bottom: 0;
}
#footer-small {
  position: absolute;
  bottom: 0;
  max-width: 100%;
}
#footer-cards {
  position: absolute;
  bottom: 0;
  max-width: 100%;
}
#footer-text {
  position: absolute;
  background-color: black;
  color: white;
  width: 80%;
  left: 0;
  right: 0;
  margin: 0 auto;
  bottom: 30px;
  font-size: 12px;
  max-width: 340px;
  text-align: left;
  z-index: 99999;
}
#paypal-button {
  position: absolute;
  bottom: 20px;
  max-width: 80px;
  left: 0;
  right: 0;
  margin: 0 auto;
  z-index: 99999;
}
#paypal-button-less {
  position: relative;
  bottom: 33px;
  max-width: 80px;
  margin: 0 auto !important;
  z-index: 99999;
}
#dragon {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  margin: 0 auto;
  max-width: 250px;
}
#dragon-clik {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  margin: 0 auto;
  max-width: 250px;
}
#video {
  position: absolute;
  bottom: 200px;
  left: 0;
  right: 0;
  margin: 0 auto;
  width: 100%;
}
#unbox {
  position: absolute;
  width: 100%;
  bottom: 0;
  left: 0;
  right: 0;
  margin: 0 auto;
  max-width: 400px;
  z-index: 00000;
}
#unbox-1 {
  position: absolute;
  bottom: 600px;
  left: 0;
  right: 0;
  margin: 0 auto;
  width: 60%;
  max-width: 300px;
  align-self: flex-end;
  z-index: 33333;
}
#unbox-2 {
  position: absolute;
  bottom: 385px;
  left: 0;
  right: 0;
  margin: 0 auto;
  width: 60%;
  max-width: 300px;
  align-self: flex-end;
  z-index: 33333;
}
#unbox-3 {
  position: absolute;
  bottom: 170px;
  left: 0;
  right: 0;
  margin: 0 auto;
  width: 60%;
  max-width: 300px;
  align-self: flex-end;
  z-index: 44444;
}
#lupa {
  position: absolute;
  bottom: 170px;
  left: 230px;
  right: 0;
  margin: 0 auto;
  max-width: 30px;
  align-self: flex-end;
  z-index: 99999;
}

#copyright {
  position: absolute;
  color: white;
  bottom: 10px;
  right: 0 auto;
  width: 100%;
  font-size: 12px;
  z-index: 88888;
}
#text-transform {
}
#more {display: none;}
#contact-cool {
  position: absolute;
  background-color: black;
  color: white;
  bottom: 50px;
  left: 0;
  width: 80%;
  left: 0;
  right: 0;
  margin: 0 auto;
  font-size: 12px;
  max-width: 340px;
  text-align: left;
}
#email {
  position: absolute;
  background-color: black;
  color: white;
  bottom: 30px;
  left: 0;
  width: 80%;
  left: 0;
  right: 0;
  margin: 0 auto;
  font-size: 12px;
  max-width: 340px;
  text-align: center;
}
